/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

h1, h2, h3 {
  font-family: 'Source Sans Pro', sans-serif; 
}

/* Navbar styles */

.nav > .nav_list > .nav-link{
  padding: 12.5px 0px;
}

.navbar-brand {
  padding: 12.5px 0px;
}

.navbar > .container .navbar-brand {
  margin-left: 15px;
}

.nav > .nav_list > .nav-link:hover, .navbar-brand:hover {
  border-bottom: 2px solid black;
}

.navbar-default{
  position : fixed;
  top : 0;
  left : 0;
  width : 100%;
  height : 125px;
  background : transparent;
  border: none;
  transition: height 0.3s;
  transition: background-color 0.3s;
  }
  
.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
  color: white;
  transition: color 0.3s;
}


.navbar-brand > a {
  color: white;
  transition: color 0.3s;
}

.navbar-header {
  text-align: center;
}

.navbar-default.sticked {
  background-color: white;
  height: 75px;
}

.navbar-default .navbar-brand.sticked, .navbar-default .navbar-nav > li > a.sticked{
  color: black;
}

.navbar-brand > a.sticked {
  color: black;
}

.navbar-default:hover {
  background-color: white;
}

.navbar-default:hover .navbar-brand {
  color: black;
}

.navbar-default:hover .navbar-nav > li > a {
  color: black;
}

.nav_list{
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 20px;
}

.navbar-header {
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}

.nav-container {
  margin-top: 25px;
  transition: margin-top 0.3s;
}

.nav-container.sticked {
  margin-top: 0px;
}


/* Home style */

.home-background {
  height: 750px;
  width: 100%;
  background-image: url("World-Collage");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom {
  height: 2000px;
}